<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">



<style>
  .modal-content {
    max-width: 80%;
    margin: auto;
  }

  .modal .box {
    padding: 20px;
  }
  .kanban-header {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #3273dc;
  }
</style>

<section class="section">
  <div class="container">
    <h1 class="kanban-header">KANBAN</h1>
  </div>
</section>
<div class="container">
  <button class="button is-primary is-light is-outlined" (click)="crearTarea()">
  <span class="icon is-small">
    <i class="fas fa-plus"></i>
  </span>
    <span>Crear Tarea</span>
  </button>

  <h1 class="title has-text-centered mb-5">Lista de Pendientes</h1>
  <table class="table is-hoverable is-fullwidth">
    <thead>
    <tr class="has-background-primary has-text-white">
      <th scope="col">Título</th>
      <th scope="col">Descripción</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Horas</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tarea of tareas">
      <td>{{ tarea.titulo }}</td>
      <td>{{ tarea.descripcion }}</td>
      <td>{{ tarea.prioridad }}</td>
      <td>{{ tarea.horas }}</td>
      <td>{{ tarea.estado }}</td>
      <td>
        <button class="button is-warning" (click)="editarTarea(tarea.id)">Editar</button>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>

  <h1 class="title has-text-centered mb-5">Lista de En Curso</h1>
  <table class="table is-hoverable is-fullwidth">
    <thead>
    <tr class="has-background-primary has-text-white">
      <th scope="col">Título</th>
      <th scope="col">Descripción</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Horas</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tareaC of TareasCurso">
      <td>{{ tareaC.titulo }}</td>
      <td>{{ tareaC.descripcion }}</td>
      <td>{{ tareaC.prioridad }}</td>
      <td>{{ tareaC.horas }}</td>
      <td>{{ tareaC.estado }}</td>
      <td>
        <button class="button is-warning" (click)="editarTarea(tareaC.id)">Editar</button>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>

  <h1 class="title has-text-centered mb-5">Lista de Tareas Hechas</h1>
  <table class="table is-hoverable is-fullwidth">
    <thead>
    <tr class="has-background-primary has-text-white">
      <th scope="col">Título</th>
      <th scope="col">Descripción</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Horas</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tareaH of TareasHechas">
      <td>{{ tareaH.titulo }}</td>
      <td>{{ tareaH.descripcion }}</td>
      <td>{{ tareaH.prioridad }}</td>
      <td>{{ tareaH.horas }}</td>
      <td>{{ tareaH.estado }}</td>
      <td>
        <button class="button is-warning" (click)="editarTarea(tareaH.id)">Editar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal Structure -->
<div class="modal" [ngClass]="{ 'is-active': modalIsActive }">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="box">
      <router-outlet></router-outlet>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>
